/* ===========================
   SGPI – VERY OLD WEB MODE
   90s / TERMINAL / PORTAL
   =========================== */

/* RESET STRICT */
* {
  margin: 0;
  padding: 0;
}

/* COULEURS TERMINAL */
body {
  background-color: #000000;
  color: #00ff66;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 20px;
}

/* CONTENEUR CENTRAL */
#container {
  max-width: 760px;
  margin: 0 auto;
  border: 2px solid #00ff66;
  padding: 15px;
}

/* TITRES */
h1 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 8px;
  text-decoration: underline;
}

/* TEXTE */
p {
  margin-bottom: 12px;
}

/* LIENS */
a {
  color: #00ff66;
  text-decoration: underline;
}

a:hover {
  background-color: #00ff66;
  color: #000000;
}

/* LISTES */
ul {
  list-style-type: square;
  margin-left: 20px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 6px;
}

/* BLOCS */
.section {
  border: 1px dashed #00ff66;
  padding: 10px;
  margin-top: 15px;
}

/* PORTAIL */
.portal {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid #00ff66;
  font-weight: bold;
}

.portal:hover {
  background-color: #00ff66;
  color: #000000;
}

/* DISCLAIMER / WARNING */
.warning {
  border: 1px solid #00ff66;
  padding: 8px;
  margin-top: 20px;
  font-size: 12px;
}

/* ASCII */
pre {
  margin-top: 15px;
  font-size: 12px;
  color: #00ff66;
}

/* FOOTER */
footer {
  margin-top: 30px;
  text-align: center;
  font-size: 11px;
  border-top: 1px dashed #00ff66;
  padding-top: 8px;
}

/* CURSEUR OLD WEB */
body {
  cursor: default;
}


/* ===========================
   HOME BUTTON – OLD WEB
   =========================== */

.home-button {
  display: inline-block;
  margin-bottom: 15px;
  padding: 6px 12px;
  border: 2px solid #00ff66;
  background-color: #000000;
  color: #00ff66;
  font-weight: bold;
  text-decoration: none;
}

.home-button:hover {
  background-color: #00ff66;
  color: #000000;
}


.enter-sgpi {
  display: inline-block;
  padding: 12px 24px;
  font-family: "Courier New", monospace;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #00ff88;
  background-color: #000;
  border: 2px solid #00ff88;
  text-decoration: none;
  box-shadow: 0 0 6px rgba(0,255,136,0.5);
}

.enter-sgpi:hover {
  background-color: #00ff88;
  color: #000;
  text-decoration: underline;
}


