---
layout: base.njk
---

<div class="page container">
  <header class="page__header">
    <h1 class="page__title">{{ title }}</h1>
    {% if description %}
      <p class="page__description">{{ description }}</p>
    {% endif %}
  </header>

  <div class="page__body prose">
    {{ content | safe }}
  </div>
</div>
